.game-field {
    display: grid;
    aspect-ratio: 1 / 1;
    gap: 4px;
}

.game-cell {
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
    transition-duration: .2s;
    transition-property: color, background-color;
}

.game-cell-red {
    background-color: rgb(255, 202, 202);
}

.game-cell-yellow {
    background-color: rgb(255, 247, 202);
}

.game-cell-green {
    background-color: rgb(221, 255, 202);
    color: rgb(221, 255, 202);
}

.game-field-3 {
    grid-template-columns: repeat(3, 1fr);
}

.game-field-4 {
    grid-template-columns: repeat(4, 1fr);
}

.game-field-5 {
    grid-template-columns: repeat(5, 1fr);
}

.game-field-6 {
    grid-template-columns: repeat(6, 1fr);
}

.game-field-7 {
    grid-template-columns: repeat(7, 1fr);
}

.game-field-8 {
    grid-template-columns: repeat(8, 1fr);
}

.game-field-9 {
    grid-template-columns: repeat(9, 1fr);
}

.game-field-10 {
    grid-template-columns: repeat(10, 1fr);
}
